# Ping Hub
ORIGIN=http://localhost:5173
DATABASE_URL=mysql://user:pass@localhost:3306/ping-hub
WHATSAPP_API_INSTANCE_NAME=ping-hub-instance

# MariaDB
DB_USER=user
DB_PASS=pass
DB_ROOT_PASS=pass
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ping-hub

# Whatsapp API
WHATSAPP_API_URL=http://localhost:8084
WHATSAPP_API_KEY=zYzP7ocstxh3Sscefew4FZTCu4ehnM8v4hu